# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build
build/

# Local env files
.env

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows system files
Thumbs.db

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
